

.container{
    background-color:#444444;
    opacity: 0.9; /* Cambia este valor para ajustar el contraste */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; */
    color: white;
    padding: 5px;
    /* height: 100%; */
    margin-top: auto;
}

.icons{

}
.icon{
    margin:3px;
    height: 30px;
}
#linkedin{
    color:#0077B5;
}
#github{
    color:#24292e
}
#email{
    color: white; 
    text-decoration: none;
    
}